$spacing: 20px;
$box-shadow: 5px 5px 20px rgba(0,0,0,0.4);

body{
    background: url('src/images/background.jpg') center;
    background-size: cover;
    font-size: 16px;
    font-family: Open Sans, Arial;
}
*{
    margin: 0;
    padding: 0;
}
ul, li{
	text-decoration:none;
	list-style:none;
}

a{
    color: #000;
    text-decoration: none;
}
input, textarea{
    font-family: Open Sans;
}

.button{
    border: 1px solid #ccc;
    display: table;
    padding: 8px 18px;
    font-size: 0.9rem;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.4s;

    &:hover{
        border: 1px solid #222;
    }
}

#loading-animation{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 50px;
    width: 50px;
    margin-left: -25px;
    margin-top: -25px;

    img{
        width: 100%;
        height: 100%;
    }
}

@import 'layout/footer/footer';
@import 'layout/header/header';
@import 'layout/new-recipe-page/new-recipe-page';
@import 'layout/recipe-list-page/recipe-list-page';

@import 'categories/categories';

@import 'recipes/recipe/recipe';
@import 'recipes/recipe-details/recipe-details';
@import 'recipes/recipe-list/recipe-list';
