$header-height: 80px;

#header{
    position: relative;
    width: 100%;
    padding: 0 40px;
    line-height: $header-height;
    text-align: center;
    box-sizing: border-box;
    background: #fff;
    margin: 0 0 $spacing*2;
    box-shadow: $box-shadow;

    h1{
        font-size: 2rem;
        font-weight: 700;
        font-family: Merienda One;
    }

    #add-new-btn{
        position: absolute;
        top: 0;
        right: 0;
        color: #666;
        height: $header-height;
        width: $header-height;
        padding: 20px;
        box-sizing: border-box;
        transition: all 0.4s;

        img{
            width: 40px;
            height: 40px;
            transition: all 0.4s;
        }

        &:hover{
            background: #ededed;
            color: #000;

            img{
                transform: scale(1.1);
            }
        }
    }
}
