#header{
    width: 100%;
    padding: 30px 25px 35px;
    text-align: center;
    box-sizing: border-box;

    h1{
        color: #fff;
        font-size: 3rem;
        text-transform: uppercase;
        text-shadow: 8px 8px 20px #000;
        letter-spacing: 2px;
    }
}
