<div id="recipe-details">
    <div class="recipe-details-box">
        <div class="recipe-image" [ngStyle]="{'background':'url(' + recipe.photo + ') center center / cover'}"></div>
        <div class="recipe-info">
            <h1>{{recipe.title}}</h1>
            <h2>{{getRating()}} of 5 stars</h2>
            <p class="description">{{recipe.description}}</p>
            <div class="ingredients">
                <div *ngFor="let ingredient of recipe.ingredients" class="row">
                    <div class="cell ingredient">
                        <div class="table-item">
                            {{ingredient.title}}
                        </div>
                    </div>
                    <div class="cell quantity">
                        <div class="table-item">
                            {{ingredient.quantity}}
                        </div>
                    </div>
                </div>
            </div>
            <p>{{recipe.preparation}}</p>

            <div class="evaluation-box">
                <div class="rating-box">
                    <h2>Give us feedback!</h2>
                    <div class="rating-table">
                        <div *ngFor="let num of [1,2,3,4,5]">
                            <div class="rating-value"
                                [class.selected]="num === rated"
                                (click)="onRate(num)">
                                {{num}}
                            </div>
                        </div>
                    </div>
                    <div class="rating-feedback">
                        {{message}}
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
